mixin application_row(application)
    .row(style="margin-top:5px")
        .col-2
            p   #{application.no}
        .col-3
            p   #{application.department_full}
        .col-2
            p   #{application.post_applied}
        .col-4
            .row
                //.col-sm-3
                if (  application.status != 'Submitted')
                    a.btn.btn-primary(href=`/application1?action=edit&no=${application.no}`, role="button") Edit
                if (application.statusA == 'T')                
                    a.btn.btn-secondary(style='margin-left:5px',href=`/print?action=view&no=${application.no}`, role="button") Print A
                if (application.statusB == 'T')
                    a.btn.btn-warning(style='margin-left:5px',href=`/print2?action=view&no=${application.no}`, role="button") Print B
                //.col-sm-3
                //application.status == 'T' && application.status == 'T' && 
                if (application.statusA == 'T' && application.statusB == 'T' &&  application.status != 'Submitted')
                    button.btn.btn-success(style='margin-left:5px', data-toggle='modal', data-target='#exampleModal',data-whatever=`${application.no}`) Submit


            //a.btn(href=`/print2?action=view&no=${application.no}`, role="button") View
                            
        .col-1
            p    #{application.status}
doctype html
html
  include includes/head.pug  
  body
  .container
    include includes/manit_header.pug    
    include includes/navbar.pug
    .container(style="width:100%;margin-top:45px")
        .row
            .col
                div(align='center',style='color:#fdfbfb;bgcolor:#00a2d1 !important')
                    h3    List of Applications
        .row
            .col-2
                p 
                    b Applicaton No.
            .col-3
                p 
                    b Department
            .col-2
                p 
                    b Post Applied
            .col-4
                p 
                    b Action
            .col-1
                p 
                    b Status
        //- .row
        //-     .col-2
        //-         p   AP3CSE3361
        //-     .col-3
        //-         p   Computer Science & Engineering
        //-     .col-3
        //-         p   Assistant Professor PB-3 with Grade pay of Rs.8000
        //-     .col-2
        //-         input#btn1(type='submit', value='View', name='Save & Next')
        //-         input#btn1(type='submit', formaction='apedit.php', value='Edit ', name='edit')
        //-         input#btn1(type='submit', formaction='apedit.php', value='Print ', name='edit')         
        //-     .col-2
        //-         p   Pending   
        if (applications) 
            each application in applications
                +application_row(application)
        if (!applications)
            .row 
                .col-12
                    label(style="color:Purple") No application Found
        //- .row
        //-     .col-2
        //-         p   AP3CSE3361
        //-     .col-3
        //-         p   Computer Science & Engineering
        //-     .col-3
        //-         p   Assistant Professor PB-3 with Grade pay of Rs.8000
        //-     .col-2
        //-         a.btn.btn-primary(href="#",role="button") View
        //-         a.btn.btn-primary(href="#",role="button") Edit                
        //-     .col-2
        //-         p   Pending
        #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Do you want to submit the form.
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    .modal-body
                        p You will not be able to  make any changes after you submit the application.
                        br 
                        p Make sure you have verified your data.
                        p Before submitting the form please take print out of both part and make sure everything is correct. 
                        p Any mistake may lead to cancellation of the application form.
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        form(action='/final_submit',method='POST')
                            input(type="hidden",name="no")     
                            button.btn.btn-primary(type='submit') Submit

script.
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        //modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-footer input').val(recipient)
    })
